@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@300&display=swap');

body {
  margin:auto;
  max-width: 90%;
  background-color: #F3F1E2;
}

.logo-name {
  display: flex;
  margin-left: 1rem;
  align-items: center;
}

.logo {
  max-width: 90px;
  border-radius: 50px;
}

.site-name {
  display: flex;
  flex-direction: column;
  margin-left: .5rem;
}

.site-name h1 {
  margin:0;
}

.site-name h2 {
  margin:0;
}


header {
    background-color: #006992;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.navigation {
    list-style: none;
}

.navigation li a {
  height: 45px;
  color:#F3F1E2;
  /* border: solid black; */
  padding-top: 7%;
}

.navigation li:first-child {
  display: block;
  text-align: right;
  padding: 0px;
}
.navigation li {
  /* border: solid black; */
  display: none;
}

.navigation li:hover {
  background-color: #FFD485; 
}
.navigation a:hover {
  color: #A30B37;
}
.navigation a {
  display: block;
  text-align: right;
}

.responsive li {
	display: block;
}

.top-date {
  text-align: center; 
  display: block;
  background-color: #FFD485;
  margin: 0px;
  padding: 20px;
}



  /*  TAKEN FROM W3 SCHOOLS */

  /* Style The Dropdown Button */
.dropbtn {
  background-color: #006992;
  /* color: white; */
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.hero-box, .event-box, .weather-box, .news-box, .spotlight-boxes {
  border: solid #A30B37;
  padding: 50px; 
  margin: 10px;
}

.hero-box {
  padding: 0px;
  position: relative;
}

.hero-box button {
  position:absolute;
  bottom: 8px;
  right: 16px;
  width: 30%;
  height: 15%;
  font-size: 90%;
  background-color: #FFD485;
  border-radius: 5px;
}

.hero-box button:hover {
  background-color: #A30B37;
  cursor: pointer;
}

.hero-box img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  display: block;
}

.spotlight-boxes{
  background: radial-gradient(circle at center,rgb(246, 127, 127), #a30b36a5 );
  padding: 20px;
  gap: auto;
}

.spotlight-boxes div p {
  color: white;
}

.spotlight-one, .spotlight-two {
  border: solid  #006992;
  background: radial-gradient(circle at center,#2191bd, #006992);
  padding: 10px;
 
}

.spotlight-one {
  margin-bottom: 10px;
}

.spotlight-boxes div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.join-box, .spotlight-three {
  display: none;
}

.event-box h3 {
  text-align: center;
}

.event-box {
  
  color: white;
  background: radial-gradient(circle at center,rgb(246, 127, 127), #a30b36a5 );
  padding: 10px;
  font-size: 110%;
}

.news-box {
  
  color: white;
  background: radial-gradient(circle at center,rgb(246, 127, 127), #a30b36a5 );
  padding: 10px;
  font-size: 110%;
  text-align: center;
}


footer {
  background-color: #006992;
  text-align: center;
  padding: 20px;
}
.bottom-logo {
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
  border-radius: 50px;
}
.bottom-info {
  text-align: center;
}
.main-body hr {
  border: .5px solid grey;
}
.top {
  background-color: #006992;
  padding: 20px;
  
}
.ham-img {
  max-width: 30px;
}

.msg-box {
  text-align: center;
  background-color: #A30B37;
  color: #F3F1E2;
  padding: 10px;
}

.weather-box {
  background-color: #A30B37; 
  color: white;
  font-family: Helvetica, san-serif;
  padding: 25px;
  background: radial-gradient(circle at center,rgb(246, 127, 127), #A30B37 );
}
.weather-title {
  text-align: center;
  font-size: 150%;
  
}


.weather-main{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.temp {
  grid-column-start: 2;
  font-size: 190%;
  color: white;
}

.weather-desc {
  text-align: center;
}

.heroes div {
  border-radius: 6px;
}




.disc-header {
  text-align: center;
}

.discover-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  padding: 30px;
  transition: 0.3s;
}

.discover-image:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.disc-items {
  padding: 30px;
}

/* Thank you */

.thank-you {
  text-align: center;
  margin: 20%;
}

/* Join page */

.join-title {
  text-align: center;
}

.join-desc {
  margin: 5%;
}

#join-form {
  max-width: 60%;
  margin: auto;
}
#join-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#join-submit {
  background-color: #5899e2;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
}
#join-form textarea {
  width: 100%;
  min-height: 90px;
}

#membership-info-box {
  padding: 5%;
}
/* Directory */
/* These styles will create cards by default, not a list. Styles */
#contacts {
  display: grid;
  grid-template-columns: 1fr;
  /* padding: 2px 16px; */
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /* border-radius: 5px 5px 0 0; */
  /* margin: 1em 1em 1em; */
  padding: 1em;
  margin: 1em;
  text-align: center;
}
/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */
.contact .logo {
  max-width: 100%;
  /* border-radius: 5px 5px 0 0; */
}
.directory-li {
  /* display: flex;
  justify-content: space-around; */
  display: block;
  padding-left: 8%;
  
}
.directory-li img {
  display: none;
}
.directory-li:nth-child(odd) {
  background-color: rgb(203, 207, 210);
}

.card-btn img, .list-btn img {
  max-width: 20px;
  
}
.card-btn, .directory-li {
  margin-bottom: 10px;
}

.card-btn {
  margin-left: 5%;
  
}

.dir-title {
  text-align: center;
  
}


.directory-li a{
  padding-top: 8%;
}